
html{
    
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);
    
}

body{
    min-height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
}


.QRCARD{
   
    background-color: white;
    height: 40%;
    width: 20%;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    

}

.BOLDTEXT{
    
    font-weight: 700;
    
}

img{
   
    max-width: 100%;
    object-fit: cover;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;

}

p{
    
    font-family: Outfit, serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.GREYTEXT{
    
    color: hsl(220, 15%, 55%);
    font-weight: 400;

}

@media only screen and (max-device-width: 550px ) {

    .QRCARD{

        width: 15em;
        height: 25em;

    }

}